<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>{% block title %} Base {% endblock title %}</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"
      integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz"
      crossorigin="anonymous"
    ></script>

    {% block style %} 
    {% endblock style %} 
    
    {% block extra_head %} 
    {% endblock extra_head %}

  </head>
  <body>
    <div id="app">
        {% block content %} 
        {% endblock content %}
    </div>

    {% block extra_body %} 
    {% endblock extra_body %} 
    
    {% block script %} 
    {% endblock script %}
  </body>
</html>
